/* NAVIGATION BAR STYLING */
.Navbar {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    flex-wrap: wrap;
    /* Allows items to wrap on smaller screens */
}

/* Navigation menu styling */
.Navbar ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    flex-wrap: wrap;
}

/* Navigation list item styling */
.Navbar ul li {
    display: inline;
}

/* Navigation link styling */
.Navbar ul li a {
    text-decoration: none;
    color: black;
    background-color: #b3d3e2bd;
    padding: 10px 15px;
    border-radius: 5px;

}

.Navbar ul li a:hover {
    background-color: rgb(118, 168, 184);
}
