/* --- HEADER IMAGE THAT APPEARS DIRECTLY ABOVE THE HOME BUTTON --- */
.header-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
    /* Centering the image */
    margin: 0;
}

/* Section Styling */
.section {
    margin: 20px 8.5% auto 8.5%;
    padding: 20px;
    width: 80%;
    background-color: #1A1A2E;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;

}

.section h2 {
    font-size: 24px;
    color: #ffcc00;
    position: relative;
}

/* Hide Tetris Block by default */
.section::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #9C27B0;
    box-shadow: 0px 0px 5px rgba(255, 204, 0, 0.7);
    opacity: 0;
    /* Hidden by default */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover effect for Section */
.section:hover {
    transform: scale(1.02);
    background-color: #2A2A4E;
}

.section:hover::after {
    opacity: 1;
    transform: rotate(90deg);
}

/* Active Class for Sections */
.section.active {
    background-color: #ff9900;
    transform: none;
}

/* Hidden Info */
.hidden-info {
    display: none;
}

/* When user clicks on the section to read the info */
.section.active .hidden-info {
    display: block;
    margin-top: 15px;
    color: #121010;
}

body{
    margin: 0;
}

main{
    display: flex;
    justify-content: center;
}

.sections-container{
    width: 100%;
    justify-content: center;
}