/* Section Styling */
.section {
    margin: 20px 40px auto;
    padding: 20px;
    width: 80%;
    background-color: #1A1A2E;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.section table {
    font-style: bold;
    color: white;
    border: none;
    position: relative;
    width: 100%
}

table tr {
    font-size: 20px;
}

table tr th {
    font-size: 24px;
}

table td {
    padding: 5% 2%;
}

table #name {
    width: 30%;
}

table #comment {
}

table #names-title {
}

table #comment-title {
}

/* Hide Tetris Block by default */
.section::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 15px;
    height: 15px;
    background-color: #9C27B0;
    box-shadow: 0px 0px 5px rgba(255, 204, 0, 0.7);
    opacity: 0;
    /* Hidden by default */
    transition: transform 0.3s ease, opacity 0.3s ease;
}
