/* General Body Style */
body {
    background-color: #F5F5F5;
    color: #121010;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 0;
    margin: 0;
}

body h1 {
    font-size: 36px;
    margin-left: 25px;
}


/* Dark mode and light mode styles */
.darkmode {
    background-color: #121010;
    color: white;
}


#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 370px;
    right: 20px;
}

.darkmode #theme-switch{
    background-color: #121010;
}

.darkSVG{
    fill: #121010;
}

.lightSVG{
    fill: #F5F5F5;
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}


/* Paragraph styling for interactive message */
main p {
    margin-left: 25px;
    font-size: 20px;
    margin-top: 20px;
}



/* --- HEADER IMAGE THAT APPEARS DIRECTLY ABOVE THE HOME BUTTON --- */
.header-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}



/* LOGO FOR ALL PAGES */
.logo {
    width: 15%;
    min-width: 200px;
    height: auto;
    margin-bottom: 1rem;
}

li{

    list-style: none;
}
