/* --- FOOTER SECTION FOR TETRIS RESOURCES --- */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: left;
    margin-top: 120px;
}

footer h2 {
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin: 5px 0;
}

footer a {
    color: #5990e2;

    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 16px;
    margin-top: 20px;
}