/* General Body Style */
body {
    background-color: #F5F5F5;
    color: #121010;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 0;
    margin: 0;
}

body h1 {
    font-size: 36px;
    margin-left: 25px;
}




/* --- FOR CHALLENGE QUESTION SECTION ---*/
/* Highlighted Clickable Text */
.highlight {
    /* Change cursor on hover */
    cursor: pointer;
    color: transparent;
    /* Start hidden */
    background-color: #444;
    transition: color 0.3s ease;
}


/* Revealed class once clicked */
.highlight.revealed {
    color: rgb(161, 20, 91);
    background-color: transparent;

}

/* Paragraph styling for interactive message */
main p {
    margin-left: 25px;
    font-size: 20px;
    margin-top: 20px;
}




/* --- HEADER IMAGE THAT APPEARS DIRECTLY ABOVE THE HOME BUTTON --- */
.header-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
    /* Centering the image */
    margin: 0 auto;
}